@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-color: #181825;
}

body {
    background-image: url(/mainbg.svg);
    background-size: auto;
    background-repeat: repeat;
    color: #fff;
    user-select: none;

    cursor: none;
}

body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}
body::-webkit-scrollbar-thumb {
    background-color: #414153;
    border-radius: 50px;
}

.prj {
    height: 2000px;
}

/* Custom cursor*/
* {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), auto !important;
}
a:hover,
button:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto !important;
}

input:hover {
    cursor: url(https://cur.cursors-4u.net/cursors/cur-10/cur966.cur), auto !important;
}
